@import "compass/css3";

.processBar {
  position: relative;
  //margin-bottom: 15px;
  width: 100%;
  height: 10px;
  background: #eeeeee;
  //border-radius: 50px;
  @include transition(all .4s);

  .bar {
    width:0px;
    height: 10px;
    background: #4CAF50;
    //border-radius: 50px;
  }
}
